{% extends "custom_admin/common.html"%}
{% block main %}
{% load static %}


<link rel="stylesheet" href="{% static 'custom_admin/css/index.css'%}">
<link rel="stylesheet" href="{% static 'custom_admin/css/quiz_create.css' %}">

<h1>hej, dette er siden til spørgemål, hvor du kan spørge løs</h1>

<div class="admin_body">
    
    <div class="questionlist">
    <div>
        <label>Existing questions:</label>
        <ul>
        {%for question in questions%}
        <li>
            {{question.question_text}}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{question.pk}}" name="question_id">
                <input type="hidden" value="delete" name="_method">
                <input type="submit" value="delete">
            </form>
        </li>
        {%empty%}
        <li>
            None
        </li>
        {%endfor%}
        </ul>
    </div>
    </div>

    <h1>Create Question</h1>
    <form method="post">
    {% csrf_token %}
    <div class="box">

        <div class="create_element">
            <label for="quiz_name_input">Create question:</label>
            <input id="quiz_name_input" name="quiz_name_input">
        </div>

        <div class="submit_button">
        <button type="submit">Submit</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}