{% extends "common/common.html" %}
{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'accounts/css/login.css'%}">
<h1 style="margin-bottom: 1px" >Sign in</h1>
<h3 style="margin-top: 1px" >To continue to front page</h3>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
      {{ form.username.errors }}
      <input 
        type="text" 
        name="{{ form.username.name }}" 
        id="{{ form.username.id_for_label }}" 
        placeholder="Email"
      />
    </div>

    <div class="fieldWrapper" style="margin-top: 7px">
      {{ form.password.errors }}
      <input 
        type="password" 
        name="{{ form.password.name }}" 
        id="{{ form.password.id_for_label }}" 
        placeholder="Password"
      />
    </div>

    <button type="submit" style="margin-top: 10px;">Sign In</button>
</form>

<h3>Don't have an account?</h3>
<a href="/accounts/signup">Sign up</a>

{% endblock %}