
{% block content %}

<h1>Create an account</h1>

<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Sign Up</h2>
	{{ form.as_p }}		
	<button type="submit" href="/accounts/login">Submit</button>
  <a href="/accounts/login">Back</a>
</form>



{% endblock content%}
<style>
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: #f3f3f3;
  flex-direction: column;
  margin: 0;
}

/* From Uiverse.io by Praashoo7 */ 
input{
  
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  flex-direction: auto;  
}
input:focus{
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
            -13px -13px 100px #ffffff;

}
/* From Uiverse.io by SpatexDEV */ 
button {
  margin: auto;
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

button:hover {
  box-shadow:
    0 10px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}

button svg {
  width: 1.25rem;
  height: 1.25rem;
}
</style>
