.content {
	display: flex;
	flex-direction: column;
	height: 300%;
	width: 100%;
}

.elem {
	display: flex;
	flex-direction: row;
	height: 33%;
	width: 100% - 2em;
	margin: 10em;
	background: var(--primary);
	border: solid;
	border-radius: 2em;
	border-color: var(--primary);
}

.elem>img {
	border-radius: 2em;
	width: 50%;
	height: 100%;
}

.elem_text {
	width: 50%;
	color: var(--background);
	padding: 1em;
}

.elem_text>h1 {
	font-size: 3em;
}

.elem_text>p {
	font-size: 1.5em;
}
