{% if user.is_authenticated %}
<h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">User: {{username}}</h1>
<h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Not rented suitcases</h1>
<ul>
	{% for suitcase in object_list %}
	{% if not suitcase.rented %}

	<a href="/suitcases/{{suitcase.uuid}}">{{suitcase.name}}</a>
	<br>
	{% endif %}
	{% empty %}
	<li style="font-family: Verdana, Geneva, Tahoma, sans-serif;">No availabe suitcases</li>
	{% endfor %}

</ul>
<br/>
<a href="rented">Your rents</a>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
