:root {
	--primary: #FF7A00;
	--secondary: #FF7A00;
	--background: #FFD6A5;
	--text: #1F3B73;
	--accent: #1F3B73;
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text);
}

html[data-theme='light'] {
	--primary: #FF7A00;
	--secondary: #FF7A00;
	--background: #FFD6A5;
	--text: #1F3B73;
	--accent: #1F3B73;
}

html[data-theme='dark'] {
	--primary: #FF7A00;
	--secondary: #ff7a00;
	--background: #0F1C3A;
	--text: #F4CDA0;
	--accent: #FF7A00;
}

html,
body,
main {
	width: 100%;
	height: 100%;
	margin: 0px;
}


.figure,
.figure>img {
	position: absolute;
	transition: transform 0.5s ease;
	transform: scale(1);
	width: 7em;
	height: 7em;
}

.figure:hover,
.figure>img:hover {
	transform: scale(1.1);
}



.color_toggle {
	position: absolute;
	right: 3vw;
	top: 7rem;
}

#theme_toggle {
	width: 2rem;
	height: 2rem;
	background-color: var(--accent);
	color: var(--background);
}
