{% if user.is_authenticated %}
<h1 class="userfield">User: {{username}}</h1>
<div class="notuser">
<h1 >Available suitcases</h1>
<ul style="list-style-type: none; margin: 0; padding: 0;">
	{% for suitcase in object_list %}
	{% if not suitcase.rented %}

	<a href="/suitcases/{{suitcase.uuid}}">{{suitcase.name}}</a>
	<br>
	{% endif %}
	{% empty %}
	<li>No availabe suitcases</li>
	{% endfor %}

</ul>
<br/>
<a href="rented">Your rents</a>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<p>You are not logged in</p>
<h1>NICE</h1>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
</div>
<style>
	
	.notuser{
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: sans-serif;
		line-height: 1.5;
		min-height: 100vh;
		background: #ffffff;
		flex-direction: column;
		flex: auto;
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.userfield{
		font-family: Arial, Helvetica, sans-serif;
		
		
	}
	
	

</style>
