.admin_body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.admin_body>ul {
	padding: 0;
	overflow: scroll;
	height: 30rem;

}

.category_list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 8rem;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.category_elem {
	width: min-content;
	padding: 0.2rem;
	border-radius: 0.5rem;
	color: #ffffff
}

.suitcase_list {
	flex-direction: row;
	padding: 1.3rem;
	padding-inline: 5rem;
	margin: 0.5rem;
	border: solid;
	border-radius: 0.5rem;
	color: var(--text);
	background: var(--text);

}

.suitcase_list>li,
.suitcase_list>div {
	color: var(--background);
}
