{% load static %}

<!DOCTYPE html>
<html>
	<head>

 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'common/css/common.css'%}" defer>
		<link rel="stylesheet" href="{% static 'common/css/animations.css'%}" defer>
		<script src="{% static 'common/js/common.js'%}" defer></script>
		<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
	</head>
	<main>
		<body>
			<div class="color_toggle">
				<button id="theme_toggle">O</button>
			</div>
			{% include 'common/taskbar_modified.html'%}
			{% block main %}
			{% endblock %}
		</body>
	</main>

</html>

