{% load static %}

<link rel="stylesheet" href="{% static 'common/css/taskbar_modified.css'%}">
<script src="{% static 'common/js/taskbar.js'%}" defer></script>
<div class="taskbar">
	<div class="taskbar_title">
		<img src="{% static 'pictures/logo.png'%}">
		<h1 class="website_title">
			<a href="{% url 'front-page'%}">Figure It Out</a></h1>
	</div>
	<div class="taskbar_tabs">
		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a href="{% url 'front-page-product'%}" >Products &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'front-page-product-personality'%}">Personality</a></li>
				<li class="taskbar_a"><a  href="{% url 'front-page-product-variation'%}">Variations</a></li>
				<li class="taskbar_a"><a  href="{% url 'front-page-product-pricing'%}">Pricing</a></li>
			</ul>
		</div>
		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a  href="{% url 'front-page-about'%}">About &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'front-page-about-goals'%}">Goals</a></li>
				<li class="taskbar_a"><a  href="{% url 'front-page-about-partners'%}">Partners</a></li>
			</ul>
		</div>
		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a  href="{% url 'front-page-contact'%}">Contact &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'front-page-contact-private'%}">As Private</a></li>
				<li class="taskbar_a"><a  href="{% url 'front-page-contact-company'%}">As Company</a></li>
				<li class="taskbar_a"><a  href="{% url 'front-page-contact-hours'%}">Support Hours</a></li>
			</ul>
		</div>
		<div class="taskbar_link taskbar_a">
			<a href="{% url 'non-rented-view'%}">Your products</a>
		</div>
		<div class="taskbar_link taskbar_a">
			<a href="{% url 'rented-view'%}">Rent</a>
		</div>
	</div>
	<div class="taskbar_login taskbar_a">
		{% if user.is_authenticated %}
		<a href="{% url 'rented-view'%}">{{ user.username}}</a>
		{% else %} 
		<a href="{%url 'login'%}">Login</a>
		{% endif%}
	</div>
</div>
<div style="height: 5rem;"></div>
