{% extends "custom_admin/common.html"%}
{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'custom_admin/css/index.css'%}">
<link rel="stylesheet" href="{% static 'custom_admin/css/suitcase_view.css' %}">
<div class="admin_body">
    <h1>Briefcase overview</h1>
    <ul>
    {%for suitcase in suitcases%}
    <div class="suitcase_list">
        <li>{{suitcase.name}}: {%if suitcase.rented%} {{suitcase.rented_by.username}} {%else%} Not rented {%endif%}</li>
        <div class="category_wrapper">
            <ul class="category_list">
                {%for category in suitcase.categories.all%}
				<div class="category_elem" style="background: {{category.hex_color}};">
                <li>{{category.name}}</li>
				</div>
                {%empty%}
                <li>None</li>
                {%endfor%}
            </ul>
        </div>
    </div>
    {%empty%}
    <li>no suitcases</li>
    {%endfor%}
    </ul>

<a href="{%url 'custom-admin-suitcase-create'%}">Create new briefcase</a>
</div>
{% endblock %}
