{% extends "custom_admin/common.html"%}
{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'custom_admin/css/index.css'%}">
<link rel="stylesheet" href="{% static 'custom_admin/css/suitcase_create.css' %}">

<div class="admin_body">
    <h1>Create Suitcase</h1>
    <div class="box">
    <form method="post">
    {% csrf_token %}
    
    <div class="create_element">
        <label for="suitcase_name_input">suitcase name:</label>
        <input id="suitcase_name_input" name="suitcase_name_input" placeholder="suitcase name">
    </div>
    

    <div class="create_element">
        <label>Select category:</label>
        {%for category in categories%}
        <input type="checkbox" id="{{category.name}}" name="categories[]"value="{{category.pk}}">
        <label for="{{category.name}}">{{category.name}}</label>
        {%empty%}
        <ul>
            <li>No categories</li>
        </ul>
        {%endfor%}
    </div>


    <div class="create_element">
        <label>Select user:</label>
        <input type="radio" id="None" name="users" value="None" checked>
        <label for="None">None</label>
        {%for user in users%}
        <input type="radio" id="{{user.username}}" name="users" value="{{user.uuid}}">
        <label for="{{user.username}}">{{user.username}}</label>
        {%empty%}
        <ul>
            <li>No users</li>
        </ul>
        {%endfor%}
    </div>
    
    <div class="submit_button">
    <button type="submit">Submit</button>
    </div>

    </form>
    </div>
</div>

{% endblock %}