{% load static %}
<link rel="stylesheet" href="{% static 'common/css/taskbar_modified.css'%}">
<script src="{% static 'common/js/taskbar.js'%}" defer></script>
<div class="taskbar">
	<div class="taskbar_title">
		<img src="{% static 'pictures/logo.png'%}">
		<h1 class="website_title">
			<a href="{% url 'custom-admin-home'%}">Admin</a></h1>
	</div>
	<div class="taskbar_tabs">
		
		<div class="taskbar_dropdown">
				<div class="dropdown_title taskbar_a"><a href="{% url 'custom-admin-home'%}" >Admin &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'front-page'%}">Home</a></li>
			</ul>
		</div>
		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a href="{% url 'custom-admin-suitcase-view'%}" >Briefcases &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'custom-admin-suitcase-create'%}">Create Briefcase</a></li>
				<li class="taskbar_a"><a  href="{% url 'custom-admin-suitcase-data'%}">Briefcase Data</a></li>
			</ul>
		</div>
		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a  href="{% url 'custom-admin-quiz'%}">Quiz &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'custom-admin-categories-create'%}">Create Category</a></li>

				<li class="taskbar_a"><a  href="{% url 'custom-admin-questions-view'%}">Questions</a></li>
				<li class="taskbar_a"><a  href="{% url 'custom-admin-questions-create'%}">Create Question</a></li>
			</ul>
		</div>
		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a  href="{% url 'custom-admin-users-view'%}">Users &#9660</a></div>
			<ul>
				<li class="taskbar_a"><a  href="{% url 'custom-admin-users-create'%}">Create User</a></li>
				<li class="taskbar_a"><a  href="{% url 'custom-admin-users-invite'%}">Invite User</a></li>
			</ul>
		</div>

	</div>
	<div class="taskbar_login taskbar_a">
		{% if user.is_authenticated %}

		<div class="taskbar_dropdown">
			<div class="dropdown_title taskbar_a"><a href="{% url 'rented-view'%}">{{ user.username}}</a></div>
			<ul>
				<li class="taskbar_a">
					<form action="{% url 'logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Log Out</button>
					</form>
				</li>
			</ul>
		</div>
		
		{% else %} 
		<a href="{%url 'login'%}">Login</a>
		{% endif%}
	</div>
</div>
<div style="height: 5rem;"></div>
