{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <title>Bluetooth Connection</title>
  <link rel="stylesheet" href="{% static 'BLE/css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="button-container" >
      <button onclick="window.location.href='/'">Back</button>
    </div>
    <h1>Bluetooth Connection</h1>
    <button id="connectBtn">Connect to Bluetooth</button>
    <p id="status">Status</p>
    <p id="deviceId">Device id: -</p>
  </div>
  <script src="BLE/js/index.js">

  </script>
</body>
</html>
